.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
images/screen.gif
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
media/**
!media/editor/dist/**
webpack.config.js
node_modules
.github
